/*
 * This sets the background image and makes sure that it centers itself.
 */
html 
{ 

	background: url(./Images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}

body
{

}

h1
{
	background-color:rgba(0,0,0,0.7);
	font-size: 800%;
	color: white;
	text-align: center;
	opacity: 1.0;
	font-family: 'Poiret One', cursive;
}

/*
 * This enables hyperlinked text within a heading to inherit the font color properties.
 *
 */
h1 > a
{
	color: inherit;
} 

h2
{
	background-color:rgba(0,0,0,0.7);
	font-size: 400%;
	color: white;
	text-align: center;
	opacity: 1.0;
	
}

h2 > a
{
	color: inherit;
} 

h3
{
	background-color:rgba(0,0,0,0.7);
	font-size: 200%;
	color: white;
	text-align: center;
	opacity: 1.0;
	
}

h3 > a
{
	color: inherit;
} 

.project
{
	font-size: 200%;

	/*text-indent: 5em;*/
	vertical-align:middle; /*Change to middle*/
	line-height: 128px;
	/*height: 128px;*/
	
	background-color:rgba(255,255,255,0.7);
	
	text-align:center;
	display:block;
}

.project > a 
{
  /*float: left; Remove this*/
  /*display:table-cell;*/    /*Add this*/
  vertical-align:top; /*Change to middle*/

}

.description
{
	font-size: 150%;
	background-color:rgba(255,255,255,0.7);
	text-indent: 5em;
	vertical-align: middle;
	
	font-family: 'Roboto', sans-serif;
}

.text_no_indent
{
	font-size: 150%;
	background-color:rgba(255,255,255,0.7);

	vertical-align: middle;
}


.centeredImage
{
	text-align:center;
	display:block;
}

ul li {
    /*padding-left: 15px;*/
	list-style-position:inside;
}

ol li {
    /*padding-left: 15px;*/
	list-style-position:inside;
}
